<div class="container">
    <div class="row">
        <div class="one column header">
            Fun Facts
        </div>
    </div>
    <section id="stats-row" class="row" style="white-space:nowrap">
        <div class="facts half column">
            <div class="half column center">
                <div class="icon"><img src='/assets/star_review_icon.png' alt="Reviews icon" /></div>
                <div class=stats>
                    <div class="num">70K</div>
                    <div class="plus">+</div>
                </div>
                <div class="stats-text"> 4- and 5-star reviews from pet lovers across the country.</div>
            </div>
            <div class="facts half column center">
                <div class="icon"><img src='/assets/pet_lovers_icon.png' alt="Pet lovers icon" /></div>
                <div class=stats>
                    <div class="num">800</div>
                    <div class="plus">+</div>
                </div>
                <div class="stats-text"> Pet lovers works at Chewy and we are growing.</div>
            </div>
        </div>
        <div class="facts half column">
            <div class="half column center">
                <div class="icon"><img src='/assets/phone_calls_icon.png' alt="Calls icon" /></div>
                <div class=stats>
                    <div class="num">100K</div>
                    <div class="plus">+</div>
                </div>
                <div class="stats-text">
                    Phone calls every month about everything from toys to treats.
                </div>
            </div>
            <div class="facts half column center">
                <div class="icon"><img src='/assets/fuzzy_item_icon.png' alt="Items icon" /></div>
                <div class=stats>
                    <div class="num">18K</div>
                    <div class="plus">+</div>
                </div>
                <div class="stats-text">
                    Adorable, fuzzy or tasty items ready to ship!
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="one column header promise">
            Our Promise
        </div>
    </div>
    <section class="row center">
        <div class="flex">
            <div class="half column">
                <div class="content content-right">
                    <div class="content-heads">Only the Best </div>
                    <div>Our pets show us love at every turn and rely on us to take care of them. That's why we only offer the best brands of pet food, treats, and supplies-- because they deserve it.</div>
                </div>
            </div>
            <div class="half column">
                <div class="content-pics"><img src="/assets/blue_life_protection_formular_wide.jpg" alt="Product of Blue Life Protection Formular" /></div>
            </div>
        </div>
        <div class="flex-rev">
            <div class="half column">
                <div class="content content-left">
                    <div class="content-heads">Agents of Awesomeness </div>
                    <div>
                        Simmering in sunny Dania Beach, FL, our knowledgeable and friendly customer service team (we can't get them to stop smiling!} is available 24 hours a day, every single day of the year. That means a real person is always here to help.
                    </div>
                </div>
            </div>
            <div class="half column">
                <div class="content-pics"><img src="/assets/awesome_team_wide.jpg" alt="Team of Awesomeness" /></div>
            </div>
        </div>
        <div class="flex">
            <div class="half column">
                <div class="content content-right">
                    <div class="content-heads">Seriously Fast Shipping </div>
                    <div>Whoa, that was fast! Place your order before 4pm ET and it will ship the same day. We figure there's no time to waste when your furry family needs their food, treats and goodies.</div>
                </div>
            </div>
            <div class="half column">
                <div class="content-pics"><img src="/assets/chewy_delivered_wide.jpg" alt="Photo of chewy delivered box" /></div>
            </div>
        </div>
        <div class="flex-rev">
            <div class="half column">
                <div class="content content-left">
                    <div class="content-heads">365 Day Hassle-Free Returns </div>
                    <div>
                        Not every purchase can be a home run, and we get it. That's why our policy is simple: if you (or your pet) are not 100% totally, completely, and unconditionally satisfied for any reason whatsoever, let us know! Here at Chewy.com, you're in good
                        paws.
                    </div>
                </div>
            </div>
            <div class="half column">
                <div class="content-pics"><img src="/assets/blue_gift_box_wide.jpg" alt="Photo of gift box" /></div>
            </div>
        </div>
    </section>
</div>
